.w-100 {
    width: 100%;
}

.panel {
    border : 3px solid grey
}

.card-title-1 {
    background-color: rgba(110, 9, 9, 0.938);
    border-radius: 15px;
    text-align: center;
    color: white;
}

.card-title-2 {
    background-color: rgba(110, 75, 9, 0.938);
    border-radius: 15px;
    text-align: center;
    color: white;
}

.card-title-3 {
    background-color: rgba(9, 110, 34, 0.938);
    border-radius: 15px;
    text-align: center;
    color: white;
}

.tick-button {
    color: "limegreen";
    border: "2px solid green";
    border-radius: 15px;
}